connections {
   aws {
      version = 2
      mobike = no
      local_addrs  = 172.30.0.5
      remote_addrs = %any
      proposals = aes256gcm16-sha512-modp4096

      local {
      	 id = ec2vpn.tgburrin.dynu.net
         auth = psk
      }

      remote {
      	 id = kvasir.tgburrin.net
         auth = psk
      }

      children {
         net-net {
	    if_id_in = 1
	    if_id_out = 1

            inactivity = 15m
            local_ts = {{ (ec2_network_list + ec2_internal_list)|join(',') }}
            remote_ts = {{ home_network_list|join(',') }}
            esp_proposals = aes256gcm16-sha512-modp4096
         }
      }
   }
}

secrets {
   ike-psk {
      id-home = kvasir.tgburrin.net
      id-aws = ec2vpn.tgburrin.dynu.net
      secret = {{ vpn_shared_secret }}
   }
}
