#!/usr/sbin/nft -f

flush ruleset

table inet filter {
	set home_networks {
		type ipv4_addr
		flags constant, interval
		elements = { {{ home_network_list|join(', ') }} }
	}
	set ec2_networks {
		type ipv4_addr
		flags constant, interval
		elements = { {{ ec2_network_list|join(', ') }} }
	}
	chain input {
		type filter hook input priority 0;
	}
	chain forward {
		type filter hook forward priority 0;
	}
	chain output {
		type filter hook output priority 0;
	}
}

table inet nat {
	set home_networks {
		type ipv4_addr
		flags constant, interval
		elements = { {{ home_network_list|join(', ') }} }
	}
	set ec2_networks {
		type ipv4_addr
		flags constant, interval
		elements = { {{ ec2_network_list|join(', ') }} }
	}
	chain prerouting {
		type nat hook prerouting priority 0; policy accept;
	}
	chain postrouting {
		type nat hook postrouting priority 0; policy accept;
		ip saddr @home_networks ip daddr @ec2_networks masquerade
	}
}
